.u-section-1 .u-sheet-1 {
  min-height: 500px;
}

.u-section-1 .u-text-1 {
  font-size: 1.875rem;
  font-weight: 700;
  text-align: left;
  margin: 178px auto 0;
}

.u-section-1 .u-text-2 {
  font-size: 1.875rem;
  text-align: left;
  margin: 39px auto 60px;
}

@media (max-width: 575px) {
  .u-section-1 .u-text-1 {
    width: auto;
    margin-top: 179px;
  }

  .u-section-1 .u-text-2 {
    width: 261px;
    margin-top: 22px;
  }
}